repos:
- repo: https://github.com/psf/black
  rev: "22.3.0"
  hooks:
  - id: black
    args: [-l, "80"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
  hooks:
  - id: mypy
    exclude: '(docs/.*)|(setup\.py)'
    additional_dependencies: [types-aiofiles, types-requests]
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
